body{
    background: #1a2a6c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.title{
    font-size: 1.4rem;
    font-family: 'Montserrat', sans-serif;
}


.text{
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}

.scroll-list{
    height:30rem;
    overflow-y: scroll;
}

.scroll-list::-webkit-scrollbar {
    display: none;
}

.card-hover:hover {
    background-color: #252a67;
    color: white;
}
